.item {
  display: flex;

  div.column-right {
    position: relative;
    width: 100%;

    span {
      display: inline-block;
      min-height: 12px;
      min-width: 50px;
    }

    .edit-value {
      border: 0 none;
      border-bottom: solid 1px #bbb;
      border-radius: 0;
      height: 100%;
      padding-left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 100;
    }

    a {
      display: block;
      margin: 0 3px;
      position: relative;

      &:after {
        border-right: solid 2px red;
        content: "";
        display: inline-block;
      }
    }
  }

  a {
    opacity: 0;
    transition: opacity 0.4s ease;
  }

  &:hover {
    a {
      opacity: 1;
    }
  }
}
