<div [ngClass]="getStatusCssClass(todo.status)" class="item">
  <label class="form-check-label">
    <input class="form-check-input"
           type="checkbox"
           [checked]="getStatusChecked(todo.status)"
           (click)="onSetStatus(todostatus)"
           #todostatus>
  </label>

  <div class="column-right">
    <span (dblclick)="onChangeName(todo)">{{todo.name}}</span>

    <input type="text" class="form-control edit-value" [value]="todo.name" (blur)="editingFinished(todo, editedtodo.value)" *ngIf="editTodo" #editedtodo>

    <a href="#" class="float-right text-secondary" (click)="removeItem(todo);">Remove</a>
  </div>
</div>
