<h3 class="mb-3 float-left">
  What do you have to do?
</h3>

<p *ngIf="todos.length !== 0" class="counter float-right">
  Current Todos:
  <span class="badge badge-light">{{ todos.length }}</span>
</p>

<div class="input-group input-group-lg mb-4">
  <input type="text" class="form-control add-todo" placeholder="" (input)="changeInput($event)" (keyup.enter)="onAddTodo(addTodoItem)" #addTodoItem>
  <span class="input-group-btn">
    <button class="btn btn-secondary" type="button" (click)="onAddTodo(addTodoItem)" [disabled]="buttonState">Add To-Do</button>
  </span>
</div>

<hr>
