.completed {
  a {
    opacity: 0.5;
    pointer-events: none;

    &:first-of-type {
      text-decoration: line-through;
    }
  }
}

.filter {
  a {
    color: #b2b2b2;
    cursor: pointer;
    display: inline-block;
    margin: 0 12px;

    &.active {
      color: #666;
    }

    &:hover {
      color: #888;
      text-decoration: none;
    }
  }
}
